<div class="signup-form">
  <form (ngSubmit)="onSubmit()">
    <h2>Register</h2>
    <p class="hint-text">Create your account. It's free and only takes a minute.</p>
    <div class="form-group">
      <div class="row fname">
        <div class="col-xs-4">
          <input type="text" class="form-control fname" id="firstName" [(ngModel)]="add.firstName" name="firstName" placeholder="First Name" required="required">
        </div>
        <div class="col-xs-4">
          <input type="text" class="form-control " id="lastName" [(ngModel)]="add.lastName" name="lastName" placeholder="Last Name" required="required">
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control"  id="email" [(ngModel)]="add.email" name="email" placeholder="Email" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" [(ngModel)]="add.password" name="password" placeholder="Password" required="required">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
    </div>
    <!-- <div class="form-group">
      <label class="checkbox-inline">
        <input type="checkbox" required="required"> I accept the
        <a href="#">Terms of Use</a> &amp;
        <a href="#">Privacy Policy</a>
      </label>
    </div> -->
    <div class="form-group">
      <input type="submit" (click)="crateUser()" class="btn btn-success btn-lg btn-block" value="Register Now">
      <button (click)="createUser()">Create Post</button>
    </div>
  </form>
  <div  >
      <div>email-id: {{add.email}}</div>
      <div>username: {{add.firstName}}</div>
      <div>lastname: {{add.lastName}}</div>
      {{addId._id}}
      <div>
        <button (click)="goBack()">Go Back</button>
        <button (click)="goLoginPage()">Login</button>
      </div>
  </div>
  <!-- <div class="text-center">Already have an account?
    <a routerLink="login">Sign in</a>
  </div> -->
</div>